.items {
    height: 342px;
    overflow: auto;
}

.failed {
    padding: 8px;
    margin: 0;
    height: 360px;
    width: 100%;
}

.empty {
    display: block;
    margin: 12px;
    text-align: center;
}

.hasMore {
    display: block;
    font-style: italic;
    text-align: center;
    font-size: 14px;
    color: var(--text-color);
    line-height: 33px;
    &:hover {
        color: var(--text-color-secondary);
    }
}
