.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    outline-style: none;

    & [class~='highlight'] {
        background-color: var(--yellow-400);
        color: var(--blue-900);
    }
}
