body {
    margin: 0;
    padding: 0px;
    border-radius: 2px;
    border: 1px solid var(--surface-border);
    background: var(--surface-i);
    overflow: hidden;
    width: 100vw;
    height: 100vh;

    & [class~='p-image-toolbar'] {
        display: none;
    }

    > [id~='root'] {
        height: 100%;
    }
}

::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}

::-webkit-scrollbar-track {
    border-radius: 2px;
    background: var(--surface-0);
}

::-webkit-scrollbar-track:vertical {
    border-left: 1px solid var(--surface-border);
}

::-webkit-scrollbar-thumb {
    background: var(--surface-k);
}

::-webkit-scrollbar-thumb:vertical {
    border-left: 1px solid var(--surface-border);
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--surface-j);
}

.loadingContainer {
    text-align: center;
    padding-top: 100px;
}

.failedContainer {
    width: 100%;
    height: 100%;

    [class~='p-inline-message'] {
        width: 100%;
        height: 100%;
    }
}
