.searchSign {
    border-left: 0;
    border-top: 0;
}

.searchInputGroup {
    position: relative;
}

.searchInput {
    border-top: 0;
    border-color: var(--text-color-secondary);

    &:hover,
    &:active,
    &:focus {
        border-color: var(--text-color-secondary);
    }

    &::placeholder {
        color: var(--surface-border);
    }
}

.clearSearch {
    z-index: 1;
    position: absolute;
    right: 8px;
    top: 8px;
    color: var(--text-color-secondary);
    cursor: pointer;
}

.buttons {
    border-left: 0;
    border-top: 0;

    &:last-child {
        border-right: 0;
    }
}