.searchInputGroup {
    position: relative;
}

.searchInput {
    border-top: 0;
    border-color: var(--surface-border);
    font-size: 0.8rem;

    &:hover,
    &:active,
    &:focus {
        border-color: var(--surface-border);
    }

    height: 22px;
    &::placeholder {
        color: var(--surface-border);
    }
}

.clearSearch {
    z-index: 1;
    position: absolute;
    font-size: 0.8rem;
    right: 8px;
    top: 6px;
    color: var(--surface-border);
    cursor: pointer;
}

.buttons {
    font-size: 0.8rem;
    padding: 3px 5px 0 5px;
    border-left: 0;
    border-top: 0;
    border-color: var(--surface-border);

    &:last-child {
        border-right: 0;
        border-radius: 0 2px 0 0;
    }

    &:first-child {
        border-right: 0;
        border-radius: 2px 0 0 0;
    }
}