body {
    width: 380px;
    height: 450px;
    margin: 0;
    padding: 0px;
    border-radius: 3px;
    border: 1px solid var(--surface-border);

    > [id~='root'] {
        height: 100%;
    }
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.loading {
    stroke-width: 3px;
    align-self: center;
    width: 50px;
    line-height: 50px;
    margin: 20px 0;
    height: 100%;
}

.failed {
    padding: 8px;
    margin: 0;
    height: 100%;
}

.empty {
    margin: 5px 5px;
    align-self: center;
}
