.error {
    width: 100%;
    min-height: 50px;
}

.progress {
    height: 6px;
    margin: 10px 0;

    [class~='p-progressbar-value'] {
        background-color: #8dd0ff;
    }
}

.manifestBody {
    white-space: pre-line;
}
